
#cabecalho{

  
    background: rgb(2,0,36);
background: linear-gradient(183deg, rgba(2,0,36,0.8883928571428571) 0%, rgba(9,9,121,1) 100%);

}




/*
#Logo{
    text-align:center;
    padding-top:2%;
    padding-bottom:2%;
}
#Logo #nome{
    font-size:45px;
    margin-left:1%;
    color: #ffee94;
}

#Navegacao{
    border: solid 1px #000;
    margin-bottom:2%;
    padding:0.5%;
    width: 73%;
    text-align: center;
    background: rgb(255,243,170);
    background: radial-gradient(circle, rgba(255,243,170,1) 0%, rgba(255,230,111,1) 72%);
    box-shadow: 1px 2px 4px 1.2px #000 !important;
    display:inline-block;
    
   
}
#NavBord{
    border: solid 1px #000;
    padding:1%;
    background: rgb(255,243,170);
    background: radial-gradient(circle, rgba(255,243,170,1) 0%, rgba(255,230,111,1) 72%);
    border:1px solid #0000007d;
    box-shadow: 1px 1px 4px 0.1px #000 !important;
}

#Navegacao a{
    margin-left:6%;
    font-weight: 700;
    color:#02009c;
    font-size:17px;
}

.divisor{
    width: 1.5%;
}
#GeralNav{
    text-align:center;
}
#Log{
    margin-bottom:0.5%;
}
#Cad{
    margin-bottom: 0.5%;
}
#caixaLog{
    border: solid 1px #000;
    padding:0.4%;
    background: rgb(255,243,170);
    background: radial-gradient(circle, rgba(255,243,170,1) 0%, rgba(255,230,111,1) 72%);
    box-shadow: 1px 2px 4px 1.2px #000 !important;
    width: 14%;
  
}
#caixaLog2{
    border:1px solid #0000007d;
    background: rgb(255,243,170);
    background: radial-gradient(circle, rgba(255,243,170,1) 0%, rgba(255,230,111,1) 72%);
    box-shadow: 1px 1px 4px 0.1px #000 !important;
    padding: 7% 11%;
  
}


*/
